In [1]:
!pip install kaggle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in /home/ant/.local/lib/python3.10/site-packages (1.6.17)
Requirement already satisfied: python-dateutil in /home/ant/.local/lib/python3.10/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /home/ant/.local/lib/python3.10/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: tqdm in /home/ant/.local/lib/python3.10/site-packages (from kaggle) (4.66.5)
Requirement already satisfied: bleach in /home/ant/.local/lib/python3.10/site-packages (from kaggle) (6.1.0)
Requirement already satisfied: requests in /home/ant/.local/lib/python3.10/site-packages (from kaggle) (2.31.0)
Requirement already satisfied: six>=1.10 in /usr/lib/python3/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: urllib3 in /home/ant/.local/lib/python3.10/site-packages (from kaggle) (2.1.0)
Requirement already satisfied: certifi>=2023.7.22 in /home/ant/.local/lib/python3.10/site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: webencodings in /home/ant/.local/lib/python3.10/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /home/ant/.local/lib/python3.10/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/ant/.local/lib/python3.10/site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/ant/.local/lib/python3.10/site-packages (from requests->kaggle) (2.10)

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle datasets download -d kazanova/sentiment140

Dataset URL: https://www.kaggle.com/datasets/kazanova/sentiment140
License(s): other
sentiment140.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
from zipfile import ZipFile
file_name = "sentiment140.zip"

with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [5]:
import pandas as pd
from pandas import read_csv
df=read_csv('training.1600000.processed.noemoticon.csv',encoding='latin-1')

In [7]:
column_names =['target','id','date','flag','user','text']
df.columns = column_names
df.head()

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [10]:
vectorizer = TfidfVectorizer(max_features=5000)
X = vectorizer.fit_transform(df['text'][0:1000])

In [11]:
df.replace({'target': {4: 1}}, inplace=True)
y = df['target']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.model_selection import train_test_split
svm = SVC(kernel='linear',gamma="auto",C=2)
df_small = df.sample(frac=0.1, random_state=42)  # Use 10% of the data for faster processing
X_small = vectorizer.fit_transform(df_small['text'])
y_small = df_small['target']

# Split the smaller dataset
X_train_small, X_test_small, y_train_small, y_test_small = train_test_split(X_small, y_small, test_size=0.2, random_state=42)

# Train on the smaller dataset
svm.fit(X_train_small, y_train_small)

In [ ]:
 test_input = ["Yes"] test_input_tfidf = vectorizer.transform(test_input)

prediction = svm.predict(test_input_tfidf)

print(f"Prediction: {prediction}")